body {
    background-color: rgb(235, 235, 235);
    margin: 0;
    background: url("../img/6.jpg");
}
#keyboard {
    display: block;
    border: 2px solid black;
    padding: 5px;
}
#keyboard::after {
    content: "";
    display: block;
    clear: both;
}

.k-key {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
    float: left;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
}

.clearfix {
    display: block;
    width: 100%;
    clear: both;
}
.active {
    background: orange;
}



.card {
    width: 400px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 0 5px 10px #ccc;
padding: 20px;
border-radius: 10px;
}
.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}
.card-title {
    font-size: 40px;
text-align: center;
color: #2e6932;
}
.card-text {
    font-size: 14px;
}
.card-subtitle {
    font-size: 18px;
    color: #4324ff;
}
.card-list {
    padding-left: 0;
    list-style-position: inside;
    font-size: 14px;
}

/* Спойлеры */
/* https://www.youtube.com/watch?v=Cj8hWtm_40M */
.wrapper {
    height: 100%;
    
}
.block {}
.block_item {
    margin: 0px 0px 10px 0px;
}
.block_title {
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding: 0px 0px 0px 30px;
    cursor: pointer;
}
.block_title:before,
.block_title:after {
    content: '';
    width: 13px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 5px;
    transition: all 0.5s ease 0s;
}
.block_title:before{
    transform: rotate(40deg);
    left: 0;
}
.block_title:after {
    transform: rotate(-40deg);
    left: 8px;
}
.block_title.active:before,
.block_title.active::after{
    background-color: #2e6932;
}
.block_title.active:before{
    transform: rotate(-40deg);
   }
.block_title.active:after {
    transform: rotate(40deg);
}
.block_text {
    display: none;
    padding: 10px 0px 0px 0px;
}